.page {  
    background-color: black; 
    font-family: "Inter", Arial, sans-serif; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    max-width: 100%; 
} 
 