.profile__button-edit {
   width: 23px;
   height: 23px;
   border: 1px solid #FFFFFF;
   margin: 0 0 10px 19px;
   background-image: url(../../../images/Pen.svg);
   background-repeat: no-repeat;
   background-position: center;
}

@media (max-width: 900px) { 
   .profile__button-edit { 
      margin: 0 0 7px 11px;
      width: 17px;
      height: 17px;
   } 
} 