.places {
    display: flex;
    margin: 0;
    padding-top: 37px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width: 880px) {
    .places {
        padding-top: 47px;
    }
 }

 