.profile { 
    position: relative;
    display: flex;
    align-items: center;
    max-width: 880px;
    width: 100%;
    min-height: 120px;
    margin-top: 38px;
} 
 
@media (max-width: 880px) {
    .profile {
        flex-direction: column;
    } 
} 
