.profile__profession {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 900px) { 
    .profile__profession { 
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-bottom: 14px;
        grid-column: 2/3;
        grid-row: 2;
    } 
}