.popup__close {
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-color: unset;
    background-size: cover;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -43px;
    right: -43px;
    border: none;
    transition: .5s;
}

.popup__close:hover {
    opacity: .6;
}

@media (max-width: 880px) { 
    .popup__close { 
        width: 20px;
        height: 20px;
        top: -39px;
        right: 0;
    } 
}