.popup__content {
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    width: 430px;
    box-sizing: border-box;
    position: relative;
}

@media (max-width: 879px) { 
    .popup__content { 
        width: 282px;
    } 
}  
    