.place__like {
    background-image: url(../../../images/Like.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 22px;
    height: 19px;
    transition: .5s;
    cursor: pointer;
}

.place__like:hover {
    opacity: .5;
}

