.profile__button-add {
    width: 148px;
    height: 47px;
    border: 2px solid #FFFFFF;
    margin-left: 245px;
}

@media (max-width: 900px) { 
    .profile__button-add { 
        width: 282px;
        position: relative;
        top: 23px;
        margin-left: 0;
    } 
} 