.profile__info {
    max-width: 335px;
    padding-left: 30px;
    padding-top: 19px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: end;
    align-self: center;
}

@media (max-width: 900px) {
    .profile__info {
        margin-top: 11px;
        grid-template-columns: 1fr auto 1fr;
        padding-left: 0;
    }
}
