.place__content {
    max-width: 241px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 21px;
    padding-bottom: 25px;
}