.place {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
    padding: 0;
    justify-content: space-evenly;
}

@media (max-width: 879px) {
    .place {
        /* justify-content: center; */
        gap: 22px;
        max-width: 85%;
    }
}

@media (max-width: 450px) {
    .place {
        max-width: 100%;
    }
}