.place {
    list-style: none; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px 17px;
    padding: 0;
}

@media (max-width: 880px) { 
    .place { 
        justify-content: center;
        gap: 22px;
    }
}